{% extends 'base.html' %}

{% block title %}
  Note #{{ note.id }}
{% endblock %}

{% block content %}
  <div class="container" style="width: 65%">
    <div class="row">
      <div class="col-sm">
        <h3>Note #{{ note.id }}</h3>
        <table class="table">
          <tr>
            <th>Text</th>
            <th>Project</th>
            <th>Labels</th>
            <th>Attachments</th>
            <th>Reviews number</th>
          </tr>
          <tr>
            <td>{{ note.text }}</td>
            <td>{{ note.project }}</td>
            <td></td>
            <td>{{ note.reviews_number }}</td>
            <td>{{ note.link_file }}</td>
            <td>{{ note.reviews_counter }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
{% endblock %}